body {
    /* Location of the image */
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

.logincontainer {
    float:right;
    background-color:rgba(255,255,255,0.5);
    padding: 24px 24px 28px 24px;     
    margin-right: 130px;
    margin-top: 95px;
    width:300;
    height:400;
    border-width: 2px;
    border-color: grey;
}
.login {
    display: block;
    text-align: center;
}

.login .inputcontainer {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    
}

.facontainer{
  position: relative;
  padding: 5px 0 10px;
  margin-top: 10px;
}

.form__field{
    /* border-radius: 22px;
    border:2px solid #ccc;
    padding: 5px 10px;
    -moz-border-radius: 22px; 
    -webkit-border-radius: 22px;
    width: 300px; */
    
    font-family: inherit;
    width: 300px;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 10px;
  }
  
  label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    float:left;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
  }
  
  .form__field:focus ~ .form__label {
    color: #a6b3b1;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #818383;
  }

.login .submitcontainer{
    padding: 20px 0px;
}
.login .submit{
    width: 300px;
    padding: 10px 0px;
}

*:before, *:after{
    box-sizing: border-box;
    padding: 0; margin: 0;
    font: 300 1em/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #111;
  }

button:hover{cursor: pointer}
button {
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
}

/*button:before (attr data-hover)*/
button:hover:before{opacity: 1; transform: translate(0,0);}
button:before{
    content: attr(data-hover);
    position: absolute;
    top: 1.1em; left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%,0);
    transition: all .3s ease-in-out;
}
    /*button div (button text before hover)*/
    button:hover div{opacity: 0; transform: translate(100%,0)}
    button div{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
    }

.warning, .FAmessage{
    text-align:justify;
    color: red;
}

