/* ---------------------------------------------------Radio Buttons------------------------------------------------ */
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 4px solid #5cdb95 ;
  
}

#Radioimg {
    height: 120px;
    width: 120px;
    background-color: transparent;
}

label {
  width: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif !important;
}

.chatMode, .problem, .language {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------Navigation----------------------------------------------------- */

.navbarlogo{
  position: relative;
  left: 30px;
  top: 15px;
}

.Navbar li {
  display: inline;
  float: right;
  width: 150px;
  height: 10vh;
  
}

.Navbar ul {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Navbar li a {
  display: block;
  color: #000000;
  /* text-align: end; */
  line-height: 100px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Avenir', 'Arial', sans-serif;
  font-size: large;
  font-weight: 900;
}

.Navbar li a:hover, .Navbar li a:active {
  color: #5cdb95;
  font-weight: 900;
  font-family: 'Avenir Black', 'Arial Black', sans-serif;
}

/* ---------------------------------------------------Pref Form----------------------------------------------------- */

.prefForm {
  background-color: transparent;
  /* height: 2200px; */
  text-align: center;
  font-family: 'Avenir Black', 'Arial Black', sans-serif;
  color: #5cdb95;
}

.formTitle h1 {
  text-align: center;
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
  color: #5cdb95 !important;
  font-weight: 900 !important;
  font-size: 48px ;
}

.leftTitle {
  text-align: right !important;
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
  color: #5cdb95 !important;
  font-weight: 900 !important;
  font-size: 48px ;
}

.rightTitle {
  text-align: left !important;
  font-family: 'Avenir', 'Arial Black', sans-serif !important;
  color: #5cdb95!important;
  font-weight: 900 !important;
  font-size: 48px ;
}


.FirstName, .LastName {
  background-color: #5cdb9533;
}

.dividerHor {
  border: 2px solid #5cdb95;
  margin-top: 0;
  margin-bottom: 0;
  width: 150px;
}

.dividerVer {
  background: #5cdb95;
  margin-top: 0;
  margin-bottom: 0;
  height: 30px;
  width: 3px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.submit-btn, .back-btn, .next-btn {
  background: #5cdb95 !important;
  color: #ffffff !important;
  border-color: #5cdb95 !important;
  border-width: 3px !important;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Avenir', 'Arial', sans-serif !important;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active, .back-btn:hover, .back-btn:focus, .back-btn:active, .next-btn:hover, .next-btn:focus, .next-btn:active {
  background: #5cdb95 !important;
  color: #ffffff !important;
  border-color: #5cdb95 !important;
  border-width: 3px !important;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
}

.chatInput , .problemInput, .nameInput, .languageInput, .formTitle , .submit {
  height: 90vh;
}

.submit {
  height: 45vh
}



.chatInput, .problemInput, .formTitle{
  background:  linear-gradient(to right, #eff1f2 50%, #edf5e1 50%);
}

/* ---------------------------------------------------CPF Board----------------------------------------------------- */

.cpfBoard{
    text-align: center;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;;
    height: 45vh;
}
  
.cpfBoard h5, .cpfBoard h3 {
  color: #5cdb95;
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
}

.cpf-btn {
  background: #5cdb95 !important;
  color: #ffffff !important;
  border-color: #5cdb95 !important;
  border-width: 3px !important;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Avenir', 'Arial', sans-serif !important;
}

.cpf-btn:hover, .cpf-btn:focus, .cpf-btn:active{
  background: #5cdb95 !important;
  color: #ffffff !important;
  border-color: #5cdb95 !important;
  border-width: 3px !important;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
}

/* ---------------------------------------------------Loading Display----------------------------------------------------- */

.loadinDisplay {
  margin: auto;
}

.loadingSign {
  margin: auto;
  height: 80px !important ;
}

.connected {
  height: 80px;
}

/* -------------------------------------------------------FAQ------------------------------------------------------------ */

.faq {
  height: 90vh;
  text-align: center;
  /* background:  linear-gradient(to right, #eff1f2 50%, #edf5e1 50%); */
}

.faq h3 {
  font-family: 'Avenir Black', 'Arial Black', sans-serif !important;
  color: #5cdb95 !important;
  font-weight: 300 !important;
  
}

/* .results {
  display: inline-block !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important ;
} */




